<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Aplikasi Spring Boot</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1>Aplikasi Spring Boot dengan Thymeleaf</h1>
        
        <form name="f" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
        
        <ul>
            <li th:text="'Waktu : '+${waktu}">Ini nanti akan diganti waktu</li>
            <li th:text="'Nama : '+${nama}">Nanti diisi nama</li>
        </ul>

    </body>
</html>
