<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Daftar Materi</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
    <body ng-app="aplikasiPelatihan">
        <h1>Daftar Materi</h1>
        <div ng-controller="HaloController">
        
            Email Anda : <input type="text" ng-model="email"/>
            <button ng-click="tambahEmail()">Tambahkan</button>
            <br/>

            Halo {{email}}

            <br/>
        
            Daftar Email: 
            <ul>
                <li ng-repeat="e in daftarEmail">
                    {{e}}
                    <button ng-click="hapusEmail(e)">Hapus</button>
                </li>
            </ul>
        </div>
        
        <div ng-controller="MateriController">
            
            <table border="1">
                <thead>
                    <tr>
                        <th>Kode</th>
                        <th>Nama</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="m in dataMateri.content">
                        <td>{{m.kode}}</td>
                        <td>{{m.nama}}</td>
                        <td><button ng-click="hapusMateri(m)">hapus</button></td>
                    </tr>
                </tbody>
            </table>

            
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
        <script src="/js/pelatihan.js"></script>
    </body>
</html>
